body {

		background-image: url("https://s-media-cache-ak0.pinimg.com/564x/50/f4/5c/50f45ce584149551d0abbce85b2605a9.jpg");
}
#title {
			height: 180px;
		border: solid 1px #696969;
}

h1 { font-family: 'Pacifico', cursive;
				
}
.table {
			font-family: 'Josefin Sans', sans-serif;
			font-size: 20px;
}
.panel-heading {
				font-family: 'Josefin Sans', sans-serif;
}

.form-group {	
				padding-left: 15px;
				padding-right: 15px;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 20px;

}
#submit {
			border: solid 1px #000000;
			margin-left: 500px;
			color: red;
			font-family: 'Pacifico', cursive;
			font-size: 20px;
}